[Unit]
Description=Prometheus v{{ prometheus_version }}
Documentation=https://prometheus.io/docs/
After=network-online.target
Wants=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
Restart=on-failure
RestartSec=5s

ExecStart={{ prometheus_bin_path }} \
  --config.file={{ prometheus_config_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --storage.tsdb.retention.time={{ prometheus_retention_time }} \
  --storage.tsdb.retention.size={{ prometheus_retention_size }} \
  --web.listen-address=0.0.0.0:{{ prometheus_port }} \
  --web.enable-lifecycle

ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
